@model ProtipoSistema.Models.ViewModelEntregas

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Scripts/nprogress.css" rel="stylesheet" />
    <link href="~/Scripts/green.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <link href="~/Scripts/jqvmap.min.css" rel="stylesheet" />
    <link href="~/Scripts/daterangepicker.css" rel="stylesheet" />
    <link href="~/Scripts/custom.min.css" rel="stylesheet" />


</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">


                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Content/Images/visual.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@ViewBag.Correo</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a></a>
                                    <ul class="nav child_menu">
                                        <li><a href="index.html">Dashboard</a></li>
                                        <li><a href="index2.html">Dashboard2</a></li>
                                        <li><a href="index3.html">Dashboard3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>  @Html.ActionLink("Usuarios", "Index", "Usuarios")  </li>
                                        <li><a href="#">Advanced Components</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i> Clientes <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#">General Elements</a></li>
                                        <li><a href="#">Media Gallery</a></li>
                                        <li><a href="#">Typography</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Vehiculos<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>  @Html.ActionLink("Vehoiculos", "Index", "Vehiculo")  </li>
                                        <li><a href="#">Chart JS2</a></li>

                                    </ul>
                                </li>


                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Conductor<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>  @Html.ActionLink("Conductores", "Index", "Conductor")  </li>
                                        <li><a href="#">Chart JS2</a></li>

                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>Gps</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-bug"></i> Ver mapa <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#">mapa</a></li>
                                        <li><a href="#">Projects</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="page_403.html">403 Error</a></li>
                                        <li><a href="page_404.html">404 Error</a></li>
                                        <li><a href="page_500.html">500 Error</a></li>
                                        <li><a href="plain_page.html">Plain Page</a></li>
                                        <li><a href="login.html">Login Page</a></li>
                                        <li><a href="pricing_tables.html">Pricing Tables</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#level1_1">Level One</a>
                                        <li>
                                            <a>Level One<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu">
                                                    <a href="level2.html">Level Two</a>
                                                </li>
                                                <li>
                                                    <a href="#level2_1">Level Two</a>
                                                </li>
                                                <li>
                                                    <a href="#level2_2">Level Two</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#level1_2">Level One</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/Images/visual.jpg" alt="">John Doe
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/Content/Images/visual.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/Content/Images/visual.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/Content/Images/visual.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>@ViewBag.Correo</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/Content/Images/visual.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- Contenido-->

            <div class="right_col" role="main">
                Entregas
                <div class="form-group">
                    <label>Tipo <span class="text-danger"></span></label>
                    <div class="form-group">
                        <select class="form-control" id="ENTtipo" name="ENTtipo" Required>
                            <option value="">- Seleccionar -</option>
                            <option value="Documentos">Documentos</option>
                            <option value="Comida">Comida</option>
                            <option value="Artefactos">Artefactos electrónicos</option>
                            <option value="Utiles">Útiles de oficina</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>Conductor</label>
                    <select class="form-control" id="selectconductor" name="selectconductor">
                        <option value="">Seleccione</option>
                        @foreach (var item in Model.ListaVehiculoConductor)
                        {

                            <option value=" @Html.DisplayFor(modelitem => item.id_vehiculo_conductor)">
                                @Html.DisplayFor(modelitem => item.nombre_conductor)
                            </option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Cliente</label>
                    <select class="form-control" id="selectivehiculo" name="selectivehiculo">
                        <option value="">SEleccione</option>

                        @foreach (var item in Model.ListaClientes)
                        {
                            <option value="@Html.DisplayFor(modelitem => item.id_cliente) ">
                                @Html.DisplayFor(modelitem => item.nombre_cliente)
                            </option>

                        }
                    </select>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Fecha de entrega</label>
                        <input type="date" id="ENTfechahora" name="ENTfechahora" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Estado</label>
                    <div class="form-group">
                        <select class="form-control" id="estado" name="estado">
                            <option value="Pendiente">Pendiente</option>
                            <option value="Entregado" disabled>Entregado</option>
                            <option value="No Entregado" disabled>No Entregado</option>
                        </select>
                    </div>
                </div>

                <button type="button" id="btnagregar" class="btn btn-success"> Guardar</button>

            </div>

            <!-- /End Contenido-->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/js/bootstrap.bundle.min.js"></script>>
<script src="~/Scripts/js/fastclick.js"></script>
<script src="~/Scripts/js/nprogress.js"></script>>
<script src="~/Scripts/js/Chart.min.js"></script>
<script src="~/Scripts/js/gauge.min.js"></script>
<script src="~/Scripts/js/bootstrap-progressbar.min.js"></script>
<script src="~/Scripts/js/icheck.min.js"></script>
<script src="~/Scripts/js/skycons.js"></script>
<script src="~/Scripts/js/custom.min.js"></script>

<script src="~/Scripts/js/date.js"></script>
<script src="~/Scripts/js/jquery.vmap.js"></script>
<script src="~/Scripts/js/jquery.vmap.world.js"></script>
<script src="~/Scripts/js/jquery.vmap.sampledata.js"></script>
<script src="~/Scripts/js/moment.min.js"></script>
<script src="~/Scripts/js/daterangepicker.js"></script>
<link rel="shortcut icon" href="//cdn.example.com/favicon.ico" type="image/x-icon" />

<script>

    $("#").click(function () {
        var idconductor =     $("#selectconductor").val();
        var idvehiculo =      $("#selectivehiculo").val();
        var nombreconductor = $('select[name="selectconductor"] option:selected').text().trim();
        var nombrevehiculo =  $('select[name="selectivehiculo"] option:selected').text().trim();
        var estado =          $("#estado").val();

        var data = {
            id_conductor: idconductor,
            nombre_conductor: nombreconductor,
            id_vehiculo: idvehiculo,
            nombre_vehiculo: nombrevehiculo,
            estado: estado

        }
            $.ajax({
                url: '/VehiculoConductor/Asignar/',
                dataType: 'json',
                data: data,
                success: function (data) {
                    alert("agregado We");

                },
                error: function (err) {
                    alert("Error: " + err.responseText);
                }
            })


    })
</script>